# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\File Code\Month 2 ( JavaCore)\QuanLyHocSinh-GiaoVien\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
